@import "tailwindcss";
@theme {
  
  /* 기본 font-family 설정("Pretendard Variable") */
  --font-*: initial;
  --font-sans: "Pretendard Variable", sans-serif; 
  --font-serif: "Noto Serif KR", serif; 
  --font-suit: "SUIT Variable", sans-serif;
  
  /* Index Layout을 위한 그리드 관련 변수 */
  --lion: repeat(auto-fit, minmax(200px, 1fr));
}